<div class="container">
    <div class="jumbotron">
        <h1>Trello Clone</h1>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="room in rooms">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#/rooms/{{$index}}"><h3>{{ room.name }}</h3></a>
                </div>
                <div class="panel-body" ng-repeat="user in room.users">
                    <span>{{ user.username }}</span>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form class="form-inline" ng-submit="addRoom()">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="New Room Name" ng-model="newRoom.name"/>
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>