<html>
    <head>
        <title>Trello Clone</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"  type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js"  type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.3/angular-moment.min.js"></script>
        <script src="/javascripts/angularApp.js" type="text/javascript"></script>
    </head>
    
    <body ng-app="trello-clone">
        <nav class="navbar navbar-default" ng-controller="AuthController">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/home">Home</a>
                </div>
                <div ng-hide="isLoggedIn()">
                    <form ng-hide="newUser" class="navbar-form navbar-left" ng-submit="logIn()">
                        <div class="form-group">
                            <span>Log In</span>
                            <input class="form-control input-sm" type="text" placeholder="username" ng-model="user.username" ng-required/>
                            <input class="form-control input-sm" type="text" placeholder="password" ng-model="user.password" ng-required/>
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                            <button class="btn btn-default" ng-click="newUser = !newUser">Need an account ?</button>
                        </div>
                    </form>
                    <form ng-show="newUser" class="navbar-form navbar-left" ng-submit="register()">
                        <div class="form-group">
                            <span>Register</span>
                            <input class="form-control input-sm" type="text" placeholder="username" ng-model="user.username" ng-required/>
                            <input class="form-control input-sm" type="text" placeholder="password" ng-model="user.password" ng-required/>
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                            <button class="btn btn-default" ng-click="newUser = !newUser">Already registered ?</button>
                        </div>
                    </form>
                </div>
                <div class="navbar-left" ng-show="isLoggedIn()">
                    <p class="navbar-text">Signed in as {{ currentUserName() }}</p>
                    <button class="btn btn-default" ng-click="logOut()">Log Out</button>
                </div>
            </div>
        </nav>
        <ui-view></ui-view>
    </body>
</html>